<section class="member-greeting" aria-label="Saudacao do usuario">
  <div class="member-greeting__avatar-wrap">
    <img
      ngSrc="https://lh3.googleusercontent.com/aida-public/AB6AXuCse_vptv9_Woh-Pt65dY4aqSrem-E5yk2b82ZJ0Pm53kbHjEhPampX4HIPP_snsXUari4KudqnC9Cy_Mw8VyCRytzVTLL6V3itOVkI5gr1zdhfH6mlkhMXQSFHBCNqoPLoGQn3fO0lr8oxF1NgU9rS8cuVfPaBCBExE4elKaoXL1MNhPlhtrnQwj3sy1lxnBElodqHFnzE6Z9t8RCkeE4WIFO__um2tsoSUudXOjTQNWXI-r_IaUYxjuP49FZteX_rXlS3AnZoJs0E"
      width="96"
      height="96"
      alt="Avatar do usuario"
      class="member-greeting__avatar"
    />
  </div>
  <div>
    <h1>Ola, {{ userName() }}!</h1>
    <p>Bem-vindo ao seu painel de doador.</p>
  </div>
</section>
